#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

html,
body {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica Neue, Helvetica, sans-serif;
  font-size: 14px;
}

/* Tooltip container */
.tooltip {
  position: relative;
  display: inline-block;
  border-bottom: 1px dotted black; /* If you want dots under the hoverable text */
}

/* Tooltip text */
.tooltip .tooltiptext {
  visibility: hidden;
  width: 120px;
  background-color: black;
  color: #fff;
  text-align: center;
  padding: 5px 0;
  border-radius: 6px;
  top: -5px;
  left: 105%;

  /* Position the tooltip text - see examples below! */
  position: absolute;
  z-index: 9999;
}

/* Show the tooltip text when you mouse over the tooltip container */
.tooltip:hover .tooltiptext {
  visibility: visible;
}

.App {
  text-align: center;
  list-style-position: inside;
}

.grid-container {
  display: grid;
}

.top-tools {
  grid-column-start: 1;
  grid-row: 1;
}

.top-categories {
  grid-column-start: 2;
  grid-row: 1;
}

.top-organizations {
  grid-column-start: 3;
  grid-row: 1;
}

.cal-layout {
  grid-column: 1;
  grid-row-start: 2;
}

/* highlight weekends */
.fc-day-sun {
  background-color: lightgray;
}
.fc-day-sat {
  background-color: lightgray;
}

/* highlight the current day */
.fc-day-today {
  background-color: lightgoldenrodyellow;
}
